Title: Repositext Initiative - Solving large-scale publishing challenges
Libs: uservoice, bxSlider, -comments


header.highlight
  markdown:
  
    ### Large-scale content collaboration & publishing [is broke](/why)

    ## we're fixing it - [want to join us?](/join)

    (it's fun, challenging, and pays well)

    **Working on something similar? [Let's talk!](mailto:n@imazen.io)**

  hr.shadow-line

.row
  .span4
    h3.left-align Based on Git & Markdown
    markdown:

      **Git offers limitless workflow flexibility. Markdown offers a highly-refined content syntax. Together, they give us happy merges and clean version history.**

      Traditional CMSes enforce a linear workflow &mdash; something that's truly absurd in today's collaborative editing and multi-channel publishing world.
  .span4
    h3.left-align Entry-point agnostic
    markdown:

      Why should it matter what tools are used to create or edit content? We're creating precise **Markdown <-> Word**, **Markdown <-> InDesign**, and **Markdown <-> HTML** conversion tools (yes, *both* directions).

      This will enable easy transitions, support legacy content imports, and permit hybrid workflows (some contributors can use Word while others using Markdown directly). We anticipate building a drag-and-drop web interface to make hybrid situations easier.
  .span4
    h3.left-align WYSIWYG is an anti-pattern
    markdown:

      As we publish to an ever-growing number of medias and devices, we discover the impossibility of making everything look the same everwhere. We also discover it's a terrible goal; each media needs adaption. Consistent, simple content formats allow us to do this easily with stylesheets.

.row
  .span4
    h3.left-align 100% open-source
    markdown:
      Imazen will be releasing everything under the MIT or Apache licenses - you can follow development at [github.com/imazen](http://github.com/imazen)

  .span4
    h3.left-align Join Imazen
    markdown:

      [Apply at careers.stackoverflow.com](http://careers.stackoverflow.com/jobs/employer/Imazen) to work on Repositext. More info at [imazen.io/careers](http://imazen.io/careers)

  .span4
    h3.left-align News

    - for post in index.posts[0..2] do
      article 
        h4.page-header
          a href=post.path #{post.heading} 
          small #{post.date.strftime("%A, %B %e %Y")}
        == post.summary(self,200)
        |  
        a href="#{post.path}#disqus_thread" View comments on original page...

    h4
     a href="/blog" See more...


hr

.row
  .span4
    h3.left-align Related projects
    markdown:
      * [Substance.io](http://substance.io) [[source]](https://github.com/substance) [[internals]](http://interior.substance.io/) - Structured document editing
      * [Editorially](http://editorially.com) - Markdown-centric collaboration (invite only, and we don't have an invite)
      * [Draft](http://draftin.com) - Version control for writers (markdown editor)
      * [Markdown spec](http://www.rumproarious.com/2012/10/29/markdown-the-spec/)
  .span4
    h3.left-align Markdown Editors
    markdown:
      * [prose.io](http://prose.io) - [source](https://github.com/prose/prose) (BSD license)
      * [dillinger.io](http://dillinger.io) - [source](https://github.com/joemccann/dillinger) (MIT license)
      * [socrates.io](http://socrates.io) - [source](https://github.com/segmentio/socrates) (MIT license)
      * [firepad.io](firepad.io) - generic collaborative text editing.
      * [strapdown.js](http://strapdownjs.com/) - client-side markdown rendering
  .span4
    h3.left-align Markdown+Git Micro-CMSes
    markdown:

      * [Hardwired](http://hardwiredcms.com)
      * [Nesta](http://nestacms.com)
      * [Jekyll](https://github.com/mojombo/jekyll) (static-site generator)
      * [Pico](http://pico.dev7studios.com/)
      * [GitHub itself](http://paulhammant.com/blog/github-as-a-cms-to-end-cmses.html/)
      * [Dropplets (php)](http://dropplets.com/)


